!!! 5
%html
  %head
    = stylesheet_link_tag 'embed', media: 'all'
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{href: "/"}= APP_CONFIG['site_name']
    .container.embed-container
      = yield
